@charset "UTF-8";
/* ======Підключення вручну======= */
/* Шрифт № 1 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@font-face {
  font-family: "causten-light";
  src: url("..//fonts/causten-light.woff2") format("woff2"), url("..//fonts/causten-light.woff") format("woff");
  wont-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "causten-medium";
  src: url("..//fonts/causten-medium.woff2") format("woff2"), url("..//fonts/causten-medium.woff") format("woff");
  wont-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "causten-semi-bold";
  src: url("..//fonts/causten-semi-bold.woff2") format("woff2"), url("..//fonts/causten-semi-bold.woff") format("woff");
  wont-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "causten-bold";
  src: url("..//fonts/causten-bold.woff2") format("woff2"), url("..//fonts/causten-bold.woff") format("woff");
  wont-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Шрифт № 2 */
@font-face {
  font-family: "CoreSansC-65Bold";
  src: url("..//fonts/CoreSansC-65Bold.woff2") format("woff2"), url("..//fonts/CoreSansC-65Bold.woff") format("woff");
  wont-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC-500";
  src: url("..//fonts/CoreSansC-55Medium.woff2") format("woff2"), url("..//fonts/CoreSansC-55Medium.woff") format("woff");
  wont-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC-800";
  src: url("..//fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("..//fonts/CoreSansC-85Heavy.woff") format("woff");
  wont-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* за замовченням: ЇХ писати НЕ ТРЕБА */
/* 	flex-grow: 0;   при значенні 1 ми дозволяємо займати ВЕСЬ ВІЛЬНИЙ ПРОСТІР
	flex-grow: 1;	1 дозволяє зменшуватись МЕНЬШЕ ніж н/п flex-basis:50рх.
	flex-basis: auto; скільки контенту - стільки і буде займати ширину
	font-weight: 400;
	font-style: normal;
	color: #000;
 */
/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

/* Прибирання стилізації для КНОПОК від БРАУЗЕРІВ */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* FORM */
/* body {} */
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px; /* 1240 + 15 + 15 */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  position: relative;
  padding: 129px 0 132px 0px;
  height: 100vh;
  background-image: url(../img/shop-hero-1.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
@media (max-width: 540px) {
  .hero {
    height: 65vh;
    padding: 20px 0 20px 0px;
  }
}
.hero__text {
  padding: 30px 87px 30px 87px;
  max-width: 615px;
}
@media (max-width: 992px) {
  .hero__text {
    max-width: 635px;
    padding: 30px 77px 100px 77px;
  }
}
@media (max-width: 767px) {
  .hero__text {
    max-width: 635px;
    padding: 30px 77px 132px 77px;
  }
}
@media (max-width: 540px) {
  .hero__text {
    max-width: 635px;
    padding: 25px 25px 40px 25px;
    text-align: center;
  }
}
.hero__text > *:last-child {
  margin-bottom: 0;
}
.hero__title {
  color: #FFF;
  font-family: "CoreSansC-500";
  font-size: 32px;
  font-weight: 500;
  line-height: 118%;
  letter-spacing: 0.157px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .hero__title {
    text-shadow: 1px 0 2px #000;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 25px;
  }
}
.hero__sub-title {
  color: #FFF;
  font-family: "CoreSansC-800";
  font-size: 78px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.315px;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .hero__sub-title {
    text-shadow: 1px 0 2px #000;
  }
}
@media (max-width: 767px) {
  .hero__sub-title {
    font-size: 58px;
  }
}
@media (max-width: 500px) {
  .hero__sub-title {
    font-size: 45px;
  }
}
@media (max-width: 470px) {
  .hero__sub-title {
    font-size: 40px;
  }
}
.hero__description {
  color: #FFF;
  font-family: "CoreSansC-500";
  font-size: 32px;
  font-weight: 500;
  line-height: 148%;
  letter-spacing: 0.315px;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .hero__description {
    text-shadow: 1px 0 2px #000;
  }
}
@media (max-width: 767px) {
  .hero__description {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .hero__description {
    font-size: 25px;
  }
}
.hero__button {
  display: inline-block;
  padding: 16px 72px;
  border-radius: 8px;
  background-color: #FFF;
  color: #3C4242;
  text-align: center;
  font-family: "causten-semi-bold";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero__button:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
@media (max-width: 460px) {
  .hero__button {
    padding: 16px 70px;
    font-size: 20px;
  }
}
.hero__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media (max-width: 400px) {
  .hero__indicators {
    margin-bottom: 0px;
  }
}

.low {
  padding: 100px 0 50px 0;
}
@media (max-width: 767px) {
  .low {
    padding: 60px 0 60px 0;
  }
}
.low__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  .low__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.low__item {
  position: relative;
  aspect-ratio: 605/355;
  border-radius: 12px;
  background-image: url(../img/01.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 505px) {
  .low__item {
    background-position: top right;
  }
}
.low__item--2 {
  background-image: url(../img/02.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}
.low__text {
  position: relative;
  z-index: 2;
  padding: 75px 28px 80px 28px;
  max-width: 300px;
}
@media (max-width: 400px) {
  .low__text {
    text-shadow: 1px 0 2px #000;
  }
}
.low__text--2 {
  padding: 57px 30px 55px 30px;
  max-width: 330px;
}
@media (max-width: 400px) {
  .low__text--2 {
    text-shadow: 1px 0 2px #000;
  }
}
.low__text > *:last-child {
  margin-bottom: 0;
}
.low__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 167%;
  letter-spacing: 0.251px;
  margin-bottom: 24px;
}
.low h2 {
  color: #FFF;
  font-family: "CoreSansC-800";
  font-size: 34px;
  font-weight: 800;
  line-height: 132%;
  margin-bottom: 10px;
}
.low__off {
  color: #FFF;
  font-family: "CoreSansC-500";
  font-size: 16px;
  font-weight: 500;
  line-height: 157%;
  letter-spacing: 0.251px;
  margin-bottom: 41.5px;
}
.low__explore {
  color: #FFF;
  font-family: "CoreSansC-800";
  font-size: 20px;
  font-weight: 800;
  line-height: 151%;
  text-decoration-line: underline;
  margin-bottom: 10px;
}
.low__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.arrival {
  padding: 48px 0 48px 0;
}
.arrival__container h3 {
  color: #3C4242;
  font-family: "CoreSansC-65Bold";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .arrival__container h3 {
    margin-bottom: 50px;
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .arrival__container h3 {
    margin-bottom: 30px;
  }
}
.arrival__container h3::before {
  content: "";
  width: 6px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  background-color: #8A33FD;
  border-radius: 10px;
}
.arrival__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38.5px;
}
@media (max-width: 992px) {
  .arrival__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .arrival__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .arrival__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.arrival___item > *:last-child {
  margin-bottom: 0;
}
.arrival__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 262/262;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 33px;
}
.arrival__title {
  color: #3C4242;
  font-family: "causten-semi-bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.zone {
  padding: 48px 0 48px 0;
}
.zone__container h3 {
  color: #3C4242;
  font-family: "CoreSansC-65Bold";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .zone__container h3 {
    margin-bottom: 50px;
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .zone__container h3 {
    margin-bottom: 30px;
  }
}
.zone__container h3::before {
  content: "";
  width: 6px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  background-color: #8A33FD;
  border-radius: 10px;
}
.zone__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
@media (max-width: 992px) {
  .zone__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .zone__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.zone__item {
  display: grid; /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
  border-radius: 12px;
  background-image: url(../img/03.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  grid-column: span 2;
}
@media (max-width: 992px) {
  .zone__item {
    grid-column: span 1;
    background-position: top right;
  }
}
.zone__item--2 {
  background-image: url(../img/04.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  grid-column: span 2;
}
@media (max-width: 992px) {
  .zone__item--2 {
    grid-column: span 1;
  }
}
@media (max-width: 767px) {
  .zone__item--2 {
    grid-column: span 1;
  }
}
.zone__item--3 {
  background-image: url(../img/05.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  grid-column: span 2;
}
@media (max-width: 992px) {
  .zone__item--3 {
    grid-column: span 1;
  }
}
@media (max-width: 767px) {
  .zone__item--3 {
    grid-column: span 1;
  }
}
.zone__item--4 {
  background-image: url(../img/06.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  grid-column: span 3; /* скільки елемент повинен займати клітинок span 3 - ТРИ КЛІТИНКИ */
}
@media (max-width: 992px) {
  .zone__item--4 {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .zone__item--4 {
    grid-column: span 1;
  }
}
.zone__item--5 {
  background-image: url(../img/07.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  grid-column: span 3; /* скільки елемент повинен займати клітинок span 3 - ТРИ КЛІТИНКИ */
}
@media (max-width: 992px) {
  .zone__item--5 {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .zone__item--5 {
    grid-column: span 1;
  }
}
.zone__text {
  padding: 64px 20px;
  max-width: 187px;
  position: relative;
  z-index: 2;
  justify-self: start; /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
}
.zone__text > *:last-child {
  margin-bottom: 0;
}
.zone__text--2 {
  padding: 34px 25px 41px 25px;
  max-width: 203px;
  text-align: right;
  justify-self: end; /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
}
@media (max-width: 992px) {
  .zone__text--2 {
    text-shadow: 2px 0 2px #000;
  }
}
.zone__text--3 {
  padding: 64px 17px 67px 17px;
  max-width: 190px;
  text-align: left;
  justify-self: end; /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
}
@media (max-width: 992px) {
  .zone__text--3 {
    text-shadow: 1px 0 2px #fff;
  }
}
.zone__text--4 {
  padding: 45px 120px 50.5px 50px;
  max-width: 467px;
  text-align: left;
  justify-self: end; /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
}
@media (max-width: 565px) {
  .zone__text--4 {
    padding: 45px 20px 50.5px 20px;
    text-shadow: 1px 0 2px #fff;
    background-position: top right;
  }
}
.zone__text--5 {
  padding: 45px 96px 50px 50px;
  max-width: 467px;
  text-align: left;
  justify-self: end; /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
}
@media (max-width: 565px) {
  .zone__text--5 {
    padding: 45px 20px 50.5px 20px;
    text-shadow: 1px 0 2px #fff;
    background-position: top right;
  }
}
.zone__title {
  color: #fff;
  font-family: "CoreSansC-65Bold";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 138%;
  letter-spacing: 0.56px;
  margin-bottom: 9.5px;
}
.zone__title--2 {
  margin-bottom: 15px;
}
.zone__title--3 {
  color: #3C4242;
}
.zone__title--4 {
  color: #3C4242;
  font-family: "CoreSansC-65Bold";
  font-size: 32px;
  font-weight: 600;
  line-height: 138%;
  letter-spacing: 0.64px;
  margin-bottom: 10.5px;
}
.zone__title--5 {
  color: #3C4242;
  margin-bottom: 11px;
}
.zone__sub-title {
  color: #fff;
  font-family: "causten-semi-bold";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.zone__sub-title--2 {
  margin-bottom: 10px;
}
.zone__sub-title--3 {
  color: #3C4242;
}
.zone__sub-title--4 {
  color: #3C4242;
  font-family: "causten-semi-bold";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.zone__sub-title--5 {
  color: #3C4242;
  margin-bottom: 12px;
}
.zone__off {
  color: #fff;
  font-family: "causten-bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 122%;
  margin-bottom: 30px;
}
.zone__off--2 {
  margin-bottom: 27px;
}
.zone__off--3 {
  color: #3C4242;
  margin-bottom: 30.5px;
}
.zone__off--4 {
  color: #3C4242;
  font-family: "causten-bold";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 36.5px;
}
.zone__off--5 {
  color: #3C4242;
  font-family: "causten-bold";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 36.5px;
}
.zone__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  text-align: center;
  margin-right: 35px;
}
.zone__img--2 {
  margin-bottom: 30px;
  margin-left: 55px;
}
.zone__img--3 {
  margin-bottom: 36px;
}
.zone__img--4 {
  margin-bottom: 44px;
}
.zone__img--5 {
  margin-bottom: 44.5px;
}
.zone__img img {
  border-radius: 12px;
  width: 23px;
  height: 20px;
}
.zone__button {
  display: inline-block;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: "causten-medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 117%;
  margin-bottom: 5px;
  -webkit-transform: scale(1.001);
      -ms-transform: scale(1.001);
          transform: scale(1.001);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.zone__button--2 {
  border-radius: 4px;
  background-color: #3C4242;
  color: #FFF;
  text-align: center;
  font-family: "causten-bold";
  font-size: 12px;
  font-weight: 700;
  border: none;
}
.zone__button--3 {
  color: #3C4242;
  border: 1px solid #3C4242;
  font-family: "causten-medium";
  font-weight: 500;
}
.zone__button--4, .zone__button--5 {
  border-radius: 4px;
  color: #3C4242;
  border: 2px solid #3C4242;
}
.zone__button:hover {
  -webkit-filter: drop-shadow(10px 10px 5px #000);
          filter: drop-shadow(10px 10px 5px #000);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.made {
  padding: 48px 0;
}
@media (max-width: 540px) {
  .made {
    padding: 20px 0;
  }
}
.made__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 992px) {
  .made__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.made__item {
  background-image: url(../img/Rectangle_01.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .made__item {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}
.made__item--2 {
  background-image: url(../img/Rectangle_02.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 992px) {
  .made__item--2 {
    aspect-ratio: 626/640;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
.made__text {
  padding: 183px 74px 174px 74px;
}
@media (max-width: 767px) {
  .made__text {
    padding: 135px 30px 130px 30px;
  }
}
@media (max-width: 540px) {
  .made__text {
    padding: 80px 30px 70px 30px;
  }
}
@media (max-width: 420px) {
  .made__text {
    padding: 40px 30px 30px 30px;
  }
}
.made__text > *:last-child {
  margin-bottom: 0;
}
.made__title {
  color: #FFF;
  font-family: "CoreSansC-800";
  font-weight: 800;
  font-size: 34px;
  line-height: 147%;
  letter-spacing: 0.208px;
  margin-bottom: 30px;
}
@media (max-width: 540px) {
  .made__title {
    font-size: 28px;
  }
}
@media (max-width: 420px) {
  .made__title {
    font-size: 23px;
  }
}
.made__sub-title {
  color: #FFF;
  font-family: "causten-light";
  font-weight: 300;
  font-size: 20px;
  line-height: 116%;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
@media (max-width: 540px) {
  .made__sub-title {
    font-size: 18px;
  }
}
.made__button {
  display: inline-block;
  padding: 12px 44px;
  border-radius: 8px;
  background-color: #FFF;
  color: #3C4242;
  text-align: center;
  font-family: "causten-semi-bold";
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;
}

.man {
  padding: 48px 0;
}
@media (max-width: 540px) {
  .man {
    padding: 35px 0;
  }
}
.man__container h3 {
  color: #3C4242;
  font-family: "CoreSansC-65Bold";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .man__container h3 {
    margin-bottom: 50px;
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .man__container h3 {
    margin-bottom: 30px;
  }
}
.man__container h3::before {
  content: "";
  width: 6px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  background-color: #8A33FD;
  border-radius: 10px;
}
.man__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
@media (max-width: 992px) {
  .man__cards {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 25px;
  }
}
@media (max-width: 767px) {
  .man__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .man__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.man__item > *:last-child {
  margin-bottom: 0;
}
.man__ {
  display: block;
}
.man__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 15px;
}
.man__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.man__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.man__left > *:last-child {
  margin-bottom: 0;
}
.man__title {
  color: #2A2F2F;
  font-family: "causten-bold";
  font-size: 17.875px;
  font-weight: 700;
  line-height: 157%;
  letter-spacing: -0.715px;
  margin-bottom: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.man__title:hover {
  color: #8A33FD;
}
.man__sub-title {
  color: #7F7F7F;
  font-family: "causten-medium";
  font-size: 13.407px;
  font-weight: 500;
  line-height: 208%;
  letter-spacing: -0.536px;
  margin-bottom: 5px;
}
.man__right {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.man__right:hover {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.women {
  padding: 48px 0;
}
@media (max-width: 540px) {
  .women {
    padding: 35px 0;
  }
}
.women__container h3 {
  color: #3C4242;
  font-family: "CoreSansC-65Bold";
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .women__container h3 {
    margin-bottom: 50px;
    font-size: 30px;
  }
}
@media (max-width: 540px) {
  .women__container h3 {
    margin-bottom: 30px;
  }
}
.women__container h3::before {
  content: "";
  width: 6px;
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  background-color: #8A33FD;
  border-radius: 10px;
}
.women__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
@media (max-width: 992px) {
  .women__cards {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 25px;
  }
}
@media (max-width: 767px) {
  .women__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .women__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.women__item {
  min-height: 100%;
  overflow: hidden;
}
.women__item > *:last-child {
  margin-bottom: 0;
}
.women__img {
  display: block;
}
.women__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 270/393;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.women__img img:hover {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.women__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.women__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.women__left > *:last-child {
  margin-bottom: 0;
}
.women__title {
  color: #2A2F2F;
  font-family: "causten-bold";
  font-size: 17.875px;
  font-weight: 700;
  line-height: 157%;
  letter-spacing: -0.715px;
  margin-bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.women__title:hover {
  color: #8A33FD;
  cursor: pointer;
}
.women__sub-title {
  color: #7F7F7F;
  font-family: "causten-medium";
  font-size: 13.407px;
  font-weight: 500;
  line-height: 208%;
  letter-spacing: -0.536px;
  margin-bottom: 5px;
}
.women__right {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.women__right:hover {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  cursor: pointer;
}