// Підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";





/* body {} */



.wrapper {
	overflow: clip;
	min-height: 100%;
	

	display: flex;			//прижимаем футер книзу
	flex-direction: column; //прижимаем футер книзу
}
.wrapper main {
	flex-grow: 1;			//прижимаем футер книзу
}


// для усіх "__container" однаково
[class*="__container"] {
	max-width: 1270px;/* 1240 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}



//SCSS основні стилі 
.hero {
	position: relative;
	padding: 129px 0 132px 0px;
	height: 100vh;
	background-image: url(../img/shop-hero-1.webp);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
	@media (max-width:540px){
		height: 65vh;
		padding: 20px 0 20px 0px;
	}

	//__text 
	&__text {
		padding: 30px 87px 30px 87px;
		max-width: 615px;	//441px+87px+87px
		@media (max-width:992px){
			max-width: 635px;	//462px+77px+77px
			padding: 30px 77px 100px 77px;
		}
		@media (max-width:767px){
			max-width: 635px;	//462px+77px+77px
			padding: 30px 77px 132px 77px;
		}
		@media (max-width:540px){
			max-width: 635px;	//462px+77px+77px
			padding: 25px 25px 40px 25px;
			text-align: center;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
	}
	// .hero__title
	&__title {
		color: #FFF;
		font-family: 'CoreSansC-500';
		font-size: 32px;
		font-weight: 500;
		line-height: 118%;
		letter-spacing: 0.157px;
		text-transform: capitalize;
		margin-bottom: 40px;
		@media (max-width:992px){
			text-shadow: 1px 0 2px #000;
		}
		@media (max-width:500px){
			font-size: 25px;
		}
	}

	// .hero__sub-title
	&__sub-title {
		color: #FFF;
		font-family: 'CoreSansC-800';;
		font-size: 78px;
		font-weight: 800;
		line-height: 120%;
		letter-spacing: 0.315px;
		margin-bottom: 40px;
		@media (max-width:992px){
			text-shadow: 1px 0 2px #000;
		}
		@media (max-width:767px){
			font-size: 58px;
		}
		@media (max-width:500px){
			font-size: 45px;
		}
		@media (max-width:470px){
			font-size: 40px;
		}
	}

	// .hero__description
	&__description {
		color: #FFF;
		font-family: 'CoreSansC-500';
		font-size: 32px;
		font-weight: 500;
		line-height: 148%;
		letter-spacing: 0.315px;
		margin-bottom: 40px;
		@media (max-width:992px){
			text-shadow: 1px 0 2px #000;
		}
		@media (max-width:767px){
			font-size: 28px;
		}
		@media (max-width:500px){
			font-size: 25px;
		}
	}

	// .hero__button
	&__button {
		display: inline-block;
		padding: 16px 72px;
		border-radius: 8px;
		background-color: #FFF;
		color: #3C4242;
		text-align: center;
		font-family: 'causten-semi-bold';
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		transition: 0.5s;
		&:hover {
			background-color: transparent;
			border: 1px solid #fff;
		}
		@media (max-width:460px){
			padding: 16px 70px;
			font-size: 20px;
		}
	}

	//__indicators 
	&__indicators {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		@media (max-width:400px){
			margin-bottom: 0px;
		}
	}
}



//----------------------------------------------------------------
.low {
	padding: 100px 0 50px 0;
	@media (max-width:767px){
		padding: 60px 0 60px 0;
	}

	// .low__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		@media (max-width:992px){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .low__item		//card
	&__item {
		position: relative;
		aspect-ratio: 605 / 355;
		border-radius: 12px;

		background-image: url(../img/01.webp);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@media (max-width:505px){
			background-position: top right;
		}
		&--2 {
		background-image: url(../img/02.webp);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top right;
		}
	}

	// .low__text
	&__text {
		position: relative;
		z-index: 2;
		@media (max-width:400px){
			text-shadow: 1px 0 2px #000;
		}
		&--2 {
			padding: 57px 30px 55px 30px;
			max-width: 330px; //270px+ 30px + 30px
			@media (max-width:400px){
				text-shadow: 1px 0 2px #000;
			}
		}
		&>*:last-child {
			margin-bottom: 0;
		}
		padding: 75px 28px 80px 28px;
		max-width: 300px; //236px+ 28px + 28px
	}


	// .low__title
	&__title {
		color: #FFF;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 800;
		line-height: 167%;
		letter-spacing: 0.251px;
		margin-bottom: 24px;
	}

	& h2 {
		color: #FFF;
		font-family: 'CoreSansC-800';
		font-size: 34px;
		font-weight: 800;
		line-height: 132%;
		margin-bottom: 10px;
	}


	// .low__off
	&__off {
		color: #FFF;
		font-family: 'CoreSansC-500';
		font-size: 16px;
		font-weight: 500;
		line-height: 157%;
		letter-spacing: 0.251px;
		margin-bottom: 41.5px;
	}

	// .low__explore
	&__explore {
		color: #FFF;
		font-family: 'CoreSansC-800';
		font-size: 20px;
		font-weight: 800;
		line-height: 151%;
		text-decoration-line: underline;
		margin-bottom: 10px;
	}

	//__img 
	&__img img {		//саме фото
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 12px;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}


//------------------------------------------------------------------------------
.arrival {
	padding: 48px 0 48px 0;

	//__container 
	&__container {
		& h3 {
			color: #3C4242;
			font-family: 'CoreSansC-65Bold';
			font-size: 34px;
			font-weight: 600;
			line-height: 33.5px; /* 98.529% */
			letter-spacing: 0.68px;
			margin-bottom: 70px;
			@media (max-width:767px){
				margin-bottom: 50px;
				font-size: 30px;
			}
			@media (max-width:540px){
				margin-bottom: 30px;
			}

			display: flex;
			gap: 20px;
			&::before {
				content: '';
				width: 6px;
				height: 30px;
				flex: 0 0 6px;
				background-color: #8A33FD;
				border-radius: 10px;
			}
		}
	}
	// .arrival__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 38.5px;
		@media (max-width:992px){
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width:767px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:540px){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .arrival__				//card (a)
	&__ {
		// .arrival___item		//card
		&_item {
			&>*:last-child {
				margin-bottom: 0;		
			}
		}
	}

	// .arrival__img
	&__img img{
		width: 100%;
		height: 100%;
		aspect-ratio: 262 / 262;
		object-fit: cover;
		border-radius: 12px;
		margin-bottom: 33px;
	}

	// .arrival__title
	&__title {
		color: #3C4242;
		font-family: 'causten-semi-bold';
		font-size: 20px;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: 0.2px;
		margin-bottom: 10px;
	}
}


//------------------------------------------------------------
.zone {
	padding: 48px 0 48px 0;

	//__container 
	&__container {
		& h3 {
			color: #3C4242;
			font-family: 'CoreSansC-65Bold';
			font-size: 34px;
			font-weight: 600;
			line-height: 33.5px; /* 98.529% */
			letter-spacing: 0.68px;
			margin-bottom: 70px;
			@media (max-width:767px){
				margin-bottom: 50px;
				font-size: 30px;
			}
			@media (max-width:540px){
				margin-bottom: 30px;
			}

			display: flex;
			gap: 20px;
			&::before {
				content: '';
				width: 6px;
				height: 30px;
				flex: 0 0 6px;
				background-color: #8A33FD;
				border-radius: 10px;
			}
		}
	}

	// .zone__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
		@media (max-width:992px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:767px){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .zone__item
	&__item {
		display: grid; 		/* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */

		border-radius: 12px;
		background-image: url(../img/03.webp);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		grid-column: span 2;	// скільки елемент повинен займати клітинок span 2 - ДВІ КЛІТИНКИ
			@media (max-width:992px){
				grid-column: span 1;
				background-position: top right;
		}
		&--2 {
			background-image: url(../img/04.webp);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: cover;
			grid-column: span 2;	// скільки елемент повинен займати клітинок span 2 - ДВІ КЛІТИНКИ
			@media (max-width:992px){
				grid-column: span 1;
		}
		@media (max-width:767px){
			grid-column: span 1;
		}
		}
		&--3 {
			background-image: url(../img/05.webp);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: cover;
			grid-column: span 2;	// скільки елемент повинен займати клітинок span 2 - ДВІ КЛІТИНКИ
			@media (max-width:992px){
				grid-column: span 1;
		}
		@media (max-width:767px){
			grid-column: span 1;
	}
		}
		&--4 {
			background-image: url(../img/06.webp);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: cover;
			grid-column: span 3; /* скільки елемент повинен займати клітинок span 3 - ТРИ КЛІТИНКИ */
			@media (max-width:992px){
				grid-column: span 2;
		}
		@media (max-width:767px){
			grid-column: span 1;
		}
		}
		&--5 {
			background-image: url(../img/07.webp);
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: cover;
			grid-column: span 3; /* скільки елемент повинен займати клітинок span 3 - ТРИ КЛІТИНКИ */
			@media (max-width:992px){
				grid-column: span 2;
		}
		@media (max-width:767px){
			grid-column: span 1;
		}
		}
	}

	// .zone__text
	&__text {
		padding: 64px 20px;
		max-width: 187px;		// 147px+20+20
		position: relative;
		z-index: 2;
		justify-self: start;	 /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
		&>*:last-child {
			margin-bottom: 0;
		}
		&--2 {
			padding: 34px 25px 41px 25px;
			max-width: 203px;		// 153px+25+25
			text-align: right;
			justify-self: end;		 /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
			@media (max-width:992px){
				text-shadow: 2px 0 2px #000;
			}
		}
		&--3 {
			padding: 64px 17px 67px 17px;
			max-width: 190px;		// 156px+17+17
			text-align: left;
			justify-self: end;		 /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
			@media (max-width:992px){
				text-shadow: 1px 0 2px #fff;
			}
		}
		&--4 {
			padding: 45px 120px 50.5px 50px;
			max-width: 467px;		// 133px+17+17
			text-align: left;
			justify-self: end;		 /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
		
		@media (max-width:565px){
			padding: 45px 20px 50.5px 20px;
			text-shadow: 1px 0 2px #fff;
			background-position: top right;
			}
		}
		&--5 {
			padding: 45px 96px 50px 50px;
			max-width: 467px;		// 164px+17+17
			text-align: left;
			justify-self: end;		 /* пишемо 'ДЛЯ ВИРІВНЮВАННЯ КОНТЕНТУ' у картці право-центр-ліво */
			@media (max-width:565px){
				padding: 45px 20px 50.5px 20px;
				text-shadow: 1px 0 2px #fff;
				background-position: top right;
				}
		}
	}

	// .zone__title
	&__title {
		color: #fff;
		font-family: 'CoreSansC-65Bold';
		font-size: 28px;
		font-style: normal;
		font-weight: 600;
		line-height: 138%;
		letter-spacing: 0.56px;
		margin-bottom: 9.5px;
		&--2 {
			margin-bottom: 15px;
		}
		&--3 {
			color: #3C4242;
		}
		&--4 {
			color: #3C4242;
			font-family: 'CoreSansC-65Bold';
			font-size: 32px;
			font-weight: 600;
			line-height: 138%;
			letter-spacing: 0.64px;
			margin-bottom: 10.5px
		}
		&--5 {
			color: #3C4242;
			margin-bottom: 11px
		}
	}

	// .zone__sub-title
	&__sub-title {
		color: #fff;
		font-family: 'causten-semi-bold';
		font-size: 14px;
		font-weight: 600;
		line-height: normal;
		margin-bottom: 10px;
		&--2 {
			margin-bottom: 10px;
		}
		&--3 {
			color: #3C4242;
		}
		&--4 {
			color: #3C4242;
			font-family: 'causten-semi-bold';
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 12px;
		}
		&--5 {
			color: #3C4242;
			margin-bottom: 12px;
		}
	}

	// .zone__off
	&__off {
		color: #fff;
		font-family: 'causten-bold';
		font-size: 18px;
		font-weight: 700;
		line-height: 122%;
		margin-bottom: 30px;
		&--2 {
			margin-bottom: 27px;
		}
		&--3 {
			color: #3C4242;
			margin-bottom: 30.5px;
		}
		&--4 {
			color: #3C4242;
			font-family: 'causten-bold';
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 36.5px;
		}
		&--5 {
			color: #3C4242;
			font-family: 'causten-bold';
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 36.5px;
		}
	}

	// .zone__img
	&__img {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		text-align: center;
		margin-right: 35px;
		&--2 {
			margin-bottom: 30px;
			margin-left: 55px;
		}
		&--3 {
			margin-bottom: 36px;
		}
		&--4{
			margin-bottom: 44px;
		}
		&--5{
			margin-bottom: 44.5px;
		}
	}
	&__img img{
		border-radius: 12px;
		width: 23px;
		height: 20px;
		@media (max-width:992px){

		}
	}

	// .zone__button
	&__button {
		display: inline-block;
		color: #fff;
		padding: 8px 16px;
		border-radius: 4px;
		border: 1px solid #FFF;
		color: #FFF;
		text-align: center;
		font-family: 'causten-medium';
		font-size: 12px;
		font-weight: 500;
		line-height: 117%;
		margin-bottom: 5px;
		transform: scale(1.001);
		transition: 0.5s;
		&--2 {
			border-radius: 4px;
			background-color: #3C4242;
			color: #FFF;
			text-align: center;
			font-family: 'causten-bold';
			font-size: 12px;
			font-weight: 700;
			border: none;
		}
		&--3 {
			color: #3C4242;
			border: 1px solid #3C4242;
			font-family: 'causten-medium';
			font-weight: 500;
		}
		&--4, &--5 {
			border-radius: 4px;
			color: #3C4242;
			border: 2px solid #3C4242;
		}
		&:hover {
			filter: drop-shadow(10px 10px 5px #000);
			transform: scale(1.2);
		}
	}
}


//-------------------------------------------------------------------
.made {
	padding: 48px 0;
	@media (max-width:540px){
		padding: 20px 0;
	}

	// .made__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width:992px){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .made__item
	&__item {
		background-image: url(../img/Rectangle_01.webp);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width:992px){
			border-top-right-radius: 15px;
			border-top-left-radius: 15px;
		}
		&--2 {
			background-image: url(../img/Rectangle_02.webp);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			@media (max-width:992px){
				aspect-ratio: 626 / 640;
				border-top-right-radius: 0px;
				border-top-left-radius: 0px;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
			}
		}
	}

	// .made__text

	&__text {
		padding: 183px 74px 174px 74px;
		@media (max-width:767px){
			padding: 135px 30px 130px 30px;
		}
		@media (max-width:540px){
			padding: 80px 30px 70px 30px;
		}
		@media (max-width:420px){
			padding: 40px 30px 30px 30px;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
	}

	// .made__title
	&__title {
		color: #FFF;
		font-family: 'CoreSansC-800';
		font-weight: 800;
		font-size: 34px;
		line-height: 147%;
		letter-spacing: 0.208px;
		margin-bottom: 30px;
		@media (max-width:540px){
			font-size: 28px;
		}
		@media (max-width:420px){
			font-size: 23px;
		}
	}

	// .made__sub-title
	&__sub-title {
		color: #FFF;
		font-family: 'causten-light';
		font-weight: 300;
		font-size: 20px;
		line-height: 116%;
		letter-spacing: 1px;
		margin-bottom: 50px;
		@media (max-width:540px){
			font-size: 18px;
		}
	}

	// .made__button
	&__button {
		display: inline-block;
		padding: 12px 44px;
		border-radius: 8px;
		background-color: #FFF;
		color: #3C4242;
		text-align: center;
		font-family: 'causten-semi-bold';
		font-weight: 600;
		font-size: 18px;
		line-height: 155%;
	}
}



//-------------------------------------------------------------
.man {
	padding: 48px 0;
	@media (max-width:540px){
		padding: 35px 0;
	}

	//__container
	&__container {
		& h3 {
			color: #3C4242;
			font-family: 'CoreSansC-65Bold';
			font-size: 34px;
			font-weight: 600;
			line-height: 33.5px; /* 98.529% */
			letter-spacing: 0.68px;
			margin-bottom: 70px;
			@media (max-width:767px){
				margin-bottom: 50px;
				font-size: 30px;
			}
			@media (max-width:540px){
				margin-bottom: 30px;
			}

			display: flex;
			gap: 20px;
			&::before {
				content: '';
				width: 6px;
				height: 30px;
				flex: 0 0 6px;
				background-color: #8A33FD;
				border-radius: 10px;
			}
		}
	}

	// .man__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 50px;
		@media (max-width:992px){
			grid-template-columns: repeat(3, 1fr);
			column-gap: 50px;
			row-gap: 25px;
		}
		@media (max-width:767px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:540px){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .man__item
	&__item {
		&>*:last-child {
			margin-bottom: 0;
		}
	}

	// .man__img    //foto (a)			
	&__ {
		display: block;
	}
		&__img img {	//foto
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 10px;
			transition: 0.4s;
			margin-bottom: 15px;
		}
	


	// .man__text
	&__text {		
		display: flex;
		margin-bottom: 10px;
	}

	// .man__left
	&__left {
		flex-grow: 1;
		&>*:last-child {
			margin-bottom: 0;
		}
	}

	// .man__title
	&__title {
		color: #2A2F2F;
		font-family: 'causten-bold';
		font-size: 17.875px;
		font-weight: 700;
		line-height: 157%;
		letter-spacing: -0.715px;
		margin-bottom: 5px;
		transition: 0.4s;
		&:hover {
			color: #8A33FD;
		}
	}

	// .man__sub-title
	&__sub-title {
		color: #7F7F7F;
		font-family: 'causten-medium';
		font-size: 13.407px;
		font-weight: 500;
		line-height: 208%;
		letter-spacing: -0.536px;
		margin-bottom: 5px;
	}

	// .man__right
	&__right {
		justify-self: center;
		align-self: center;
		transition: 0.5s;
		&:hover {
			transform: translateY(5px);
		}
	}
}



//-----------------------------------------------------------
.women {
	padding: 48px 0;
	@media (max-width:540px){
		padding: 35px 0;
	}

	//women__container
	&__container {
		& h3 {
			color: #3C4242;
			font-family: 'CoreSansC-65Bold';
			font-size: 34px;
			font-weight: 600;
			line-height: 33.5px; /* 98.529% */
			letter-spacing: 0.68px;
			margin-bottom: 70px;
			@media (max-width:767px){
				margin-bottom: 50px;
				font-size: 30px;
			}
			@media (max-width:540px){
				margin-bottom: 30px;
			}

			display: flex;
			gap: 20px;
			&::before {
				content: '';
				width: 6px;
				height: 30px;
				flex: 0 0 6px;
				background-color: #8A33FD;
				border-radius: 10px;
			}
		}
	}

	// .women__cards
	&__cards {
		display: grid;
		//grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		grid-template-columns: repeat(4, 1fr);
		gap: 50px;
		@media (max-width:992px){
			grid-template-columns: repeat(3, 1fr);
			column-gap: 50px;
			row-gap: 25px;
		}
		@media (max-width:767px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:540px){
			grid-template-columns: repeat(1, 1fr);
		}

	}

	// .women__item
	&__item {
		min-height: 100%;
		overflow: hidden;
		&>*:last-child {
			margin-bottom: 0;
		}
	
	}
	// .women_img//foto (a)
	&__img {
		display: block;
	}
	&__img img {	//foto
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
			aspect-ratio: 270 / 393;
			transition: 0.4s;
			margin-bottom: 15px;
			transition: 0.5s;
			&:hover {
				transform: translateY(5px);
			}
			}
		
	}

	.women {

	// .women_text
	&__text {		
		display: flex;
		margin-bottom: 10px;
	}

	// .women_left
	&__left {
		flex-grow: 1;
		&>*:last-child {
			margin-bottom: 0;
		}
	}

	// .women__title
	&__title {
		color: #2A2F2F;
		font-family: 'causten-bold';
		font-size: 17.875px;
		font-weight: 700;
		line-height: 157%;
		letter-spacing: -0.715px;
		margin-bottom: 5px;
		transition: 0.5s;
		&:hover {
			color: #8A33FD;
			cursor: pointer;
		}
	}

	// .women__sub-title
	&__sub-title {
		color: #7F7F7F;
		font-family: 'causten-medium';
		font-size: 13.407px;
		font-weight: 500;
		line-height: 208%;
		letter-spacing: -0.536px;
		margin-bottom: 5px;
	}

	// .women__right
	&__right {
		justify-self: center;
		align-self: center;
		transition: 0.4s;
		&:hover {
			transform: translateY(5px);
			cursor: pointer;
		}
	}
}
